@using CarRentingSystemMVC.Models.Car;
@model CarFormModel

@{
    ViewBag.Title = "Car Rents";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form asp-controller="Cars" asp-action="Delete" method="post" class="bg-dark bg-opacity-75 p-4 mt-5">
                <div class="form-group mb-3">
                    <label asp-for="CategoryId" for="category" class="text-white">Choose Category:</label>
                    <select asp-for="CategoryId" class="form-control" id="category" disabled>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Brand" for="brand" class="text-white">Brand:</label>
                    <input asp-for="Brand" type="text" class="form-control" id="brand" disabled>
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.Model" for="model" class="text-white">Model:</label>
                    <input asp-for="@Model.Model" type="text" class="form-control" id="model" disabled>
                    <span asp-validation-for="@Model.Model" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ImageUrl" for="image" class="text-white">Image:</label>
                    <input asp-for="ImageUrl" type="text" class="form-control" id="image" disabled>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Description" for="description" class="text-white">Description:</label>
                    <textarea asp-for="Description" class="form-control" id="description" rows="3" placeholder="Mercedes-Benz 2016 AMG with..." disabled></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Price" for="price" class="text-white">Price Per Day:</label>
                    <input asp-for="Price" type="number" class="form-control" id="price" placeholder="260.00" disabled>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="d-grid">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>

@section CustomCss {
    <style>
        textarea {
            resize: none;
        }
    </style>
}

@section CustomScripts {
    <script>
        let priceInputField = document.getElementById('price');
        priceInputField.value = (Number(priceInputField.value)).toFixed(2);
        priceInputField.addEventListener('input', () => {
            priceInputField.value = Number(priceInputField.value).toFixed(2);
            console.log(priceInputField.value);
        });
    </script>
}
